* {
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
    background: linear-gradient(to right, #d41f4d,#e95568cb);
}
.calculator_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
table {
    padding: 20px 20px;
    box-sizing: border-box
}
input[type = button] {
    width: 60px;
    height: 60px;
    font-size: 25px;
    background-color: rgb(153, 83, 118);
    cursor: pointer;
    border: 0px;
    margin: 2px;
    color: #fff;
}
input.sign {
    background-color: rgb(107, 45, 76);
}
#textview {
    width: 257px;
    height: 62px;
    margin: 0 auto;
    font-size: 25px;
    padding: 8px;
    display: block;
    color: rgb(107, 45, 76);
    border: 0;
    box-sizing: border-box;
}
td>input.zero {
    width: 126px;
    box-sizing: border-box;
}
td>input.equal {
    height: 126px;
    box-sizing: border-box;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:70px;   /* Высота блока "footer" */
    background:#66ccff;
 }